html {
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.mobile {
  display: none;
}

/* Header */

header {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


#logo {
  display: flex;
  align-items: center;
  height: auto;
  margin-left: 24px;
}

#logo span {
  font-size: 1.5rem;
}


nav {
  display: inline;
  margin-right: 24px;
  height:auto;
}

nav span {
  display: inline-block;
  margin-left: 16px;
}

/* Landing Page */

.main-content {
  width: 100%;
}

.container {
  display: flex;
  border: 4px solid black;
}

#landing-page {
  flex-direction: row;
  align-items: center;
}

#landing-page .image-container {
  height: auto;
  width: 60%;
  padding: 32px 24px;
}

#landing-page img{
  display: flex;
  width: 100%;
  height: auto;
}

#landing-page .content {
  margin: auto 100px auto 0;
}

#landing-page .content .button{
  padding: 8px;
  background-color: gray;
  width: auto%;
  text-align: center;

}

/* Info (Page 2) */


#info {
  flex-direction: row;
  padding: 0;
}

#info .article {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 32px 24px;
}

#info .image-container {
  height: auto;
  overflow: hidden;
}

#info img {
  min-height: 350px;
  width: 100%;
  height: auto;
}
